{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block menu %}

    <li class="active">Carte</li>
    <li><a href="{{ path('mon-compte') }}">Mon Compte</a></li>
    <li><a href="#">Contacts</a></li>

{% endblock %}


{% block body %}

    <div class="map">
        <div class="lbl-locations"></div>
        <div>
            <label>
                <input type="radio" name="travel_mode" class="travel_mode" value="DRIVING" checked hidden>
            </label>
        </div>

        <div class="map-filters">
            <div class="map-location">
                <div class="locations-option">
                    <label for="origin">Lieu de départ</label>
                    <input type="text" id="origin" name="way_start" class="way_points" placeholder="ex : 5 rue du Calvaire" value="">
                </div>
                <div class="locations-option">
                    <label for="destination">Lieu d'arrivée</label>
                    <input type="text" id="destination" name="way_end" class="way_points" placeholder="ex : 78 rue Paul Bellamy" value="">
                </div>
            </div>
            <div class="btn-draw-box">
                <input type="button" id="drawPath" value="Rechercher l'itinéraire" class="btn-draw"/>
            </div>
        </div>

        <br>
        <br>
        <div id="map-layer"></div>
    </div>


    <script>
        var map;
        var waypoints;
        function initMap() {
            var mapLayer = document.getElementById("map-layer");
            var centerCoordinates = new google.maps.LatLng(47.218371, -1.553621);
            var defaultOptions = { center: centerCoordinates, zoom: 12 }
            map = new google.maps.Map(mapLayer, defaultOptions);

            var directionsService = new google.maps.DirectionsService;
            var directionsDisplay = new google.maps.DirectionsRenderer;
            directionsDisplay.setMap(map);

            $("#drawPath").on("click",function() {
                var start =$("#origin").val();
                var end = $("#destination").val();
                drawPath(directionsService, directionsDisplay,start,end);

            });

        }
        function drawPath(directionsService, directionsDisplay,start,end) {
            directionsService.route({
                origin: start,
                destination: end,
                optimizeWaypoints: true,
                travelMode: $("input[name='travel_mode']:checked"). val()
            }, function(response, status) {
                if (status === 'OK') {
                    directionsDisplay.setDirections(response);
                } else {
                    window.alert('Problème d affichage dû à ' + status);
                }
            });
        }
    </script>
    <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAEuJcJe1NC3yjHWcPY45n2pXaBA4eQzxo&callback=initMap">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.js"></script>
{% endblock %}
