<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>
            Héphaïstos | {% block title %}{% endblock %}
        </title>

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('style/style.css') }}">
        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <nav>
            <div>
                <input type="checkbox" id="ham-menu">
                <label for="ham-menu">
                    <div class="hide-des">
                        <span class="menu-line"></span>
                        <span class="menu-line"></span>
                        <span class="menu-line"></span>
                        <span class="menu-line"></span>
                        <span class="menu-line"></span>
                        <span class="menu-line"></span>
                    </div>
                </label>
                <div class="ham-menu">
                    <ul class="centre-text bold-text">

                        {% block menu %}{% endblock %}

                    </ul>
                </div>
            </div>
            <div class="logo">
                <a href="{{ path('index') }}" class="logo-link">
                    <img src="{{ asset('img/hephaistos_beige2.png') }}" alt="hephaistos logo">
                </a>
            </div>
            <div class="accessibilite">
                <a href="#accessibilite-modal">
                    <img src="{{ asset('img/eye.png') }}" alt="accessibilité" height="50px">
                </a>
            </div>
        </nav>

        {% block body %}{% endblock %}


        <footer>

        </footer>


{#      MODAL ACCESSIBILITE#}

        <div id="accessibilite-modal" class="modal">
            <div class="modal-content">
                <h2>Accessibilité</h2>
                <div>
                    <div class="switch-box couleur-theme-box">
                        <div class="switch-holder">
                            <div class="switch-toggle">
                                <input type="checkbox" id="couleur-theme">
                                <label for="couleur-theme"></label>
                            </div>
                        </div>
                        <p>Couleur du thème</p>
                    </div>
                    <div class="switch-box taille-police-box">
                        <div class="switch-holder">
                            <div class="switch-toggle">
                                <input type="checkbox" id="taille-police">
                                <label for="taille-police"></label>
                            </div>
                        </div>
                        <p>Taille de la police</p>
                    </div>
                    <div class="switch-box commande-clavier-box">
                        <div class="switch-holder">
                            <div class="switch-toggle">
                                <input type="checkbox" id="commande-clavier">
                                <label for="commande-clavier"></label>
                            </div>
                        </div>
                        <p>Commande au clavier</p>
                    </div>
                </div>

                <a href="#" class="modal-close">&times;</a>
            </div>
        </div>
    </body>
</html>
