<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

        {% block stylesheets %}

        {% endblock %}

        {% block javascripts %}{% endblock %}
    </head>
    <body>
        <nav>
            <div>
                <input type="checkbox" id="ham-menu">
                <label for="ham-menu">
                    <div class="hide-des">
                        <span class="menu-line"></span>
                        <span class="menu-line"></span>
                        <span class="menu-line"></span>
                        <span class="menu-line"></span>
                        <span class="menu-line"></span>
                        <span class="menu-line"></span>
                    </div>
                </label>
                <div class="full-page-green"></div>
                <div class="ham-menu">
                    <ul class="centre-text bold-text">
                        <li>Carte</li>
                        <li>Mon Compte</li>
                        <li>Contacts</li>
                    </ul>
                </div>
            </div>
            <div class="logo">
                <a href="#" class="logo-link">
                    <img src="{{ asset('img/hephaistos_beige.png') }}" alt="connected" height="15px">
                </a>
            </div>
        </nav>
        {% block body %}{% endblock %}
    </body>
</html>
